$tabletBreackpoint: 481px;
$descktopBreackpoint: 769px;

:root {
  --p-color-grey: #757575;
  --gray-color2: #ffffff99;
  --color-blue: #2196f3;
  --black: #212121;
  --white: #fff;
  --card-overlay-color: rgba(33, 150, 243, 0.9);
  --form-gray: rgba(117, 117, 117, 1);
  --footer-background: rgba(47, 48, 58, 1);
  --icon-background-black: #ffffff1a;
  --subscribe-form-input: #2f303a;
  --grey-section: #f5f4fa;
  --svg-grey: #afb1b8;
}
